@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
}


@mixin text-Style($size ,$weight){
    font-family: 'Times New Roman', Times, serif;
    font-size: $size;
    font-weight: $weight;
    text-transform: capitalize;
    text-decoration: none;
}


@mixin box-Shadow{
  box-shadow: 0 24px 80px -16px rgba(0,0,0,.24);
}