$bgColor:#1b1f29;
$blueColor:#2925f4;
// $hoveColor:#1B1F29;
$blackColor:#434856;
$whiteColor:#ffffff;
$btnColor:#FCFCFC;

// navbar

$color-secondary-grey: #BDC3C7;

$color-primary-blue: #8DA7BE;
$color-secondary-bluelight: #80CED7;
$color-primary-dark: #36393B;

$color-white: #fff;
$color-black: #000;
// navbar
